



{% extends "website/base.html" %}

{% block title_page %} Extrato Público - Débitos de Vereadores {% endblock %}
{% block title_header %}Débitos de Vereadores do múnicípio de São Paulo{% endblock %}
{% block subtitle_header %}Estes valores são relativos aos reembolsos efetivados aos vereadores do munícipio de São Paulo.{% endblock %}

{% block content %}

<div class="container-fluid margin-top">
    <div class="row center-block">
        <div class="panel panel-filled text-center">
            <h1 class="h1">Ficou com alguma duvida a acessar nossa ferramenta ?</h1>
        </div>
        <div class="panel panel-filled col-md-5 col-xs-12">
            <h3 class="h3 text-center">Nós queremos ouvir sua sugestão</h3>
            <p>Nós somos uma equipe de jovens desenvolvedores e precisamos de toda a ajuda possível, nos ajude a testar a ferramenta, nos ajude a divulgar e fazer chegar ao conhecimento de todo cidadão o destino que está sendo aplicado o dinheiro público, não exite em nos contactar.</p>
        </div>
        <div class="panel panel-filled col-md-5 col-xs-12 pull-right">
            <h3 class="h3">Monitorar os gastos públicos é uma tarefea de todos.</h3>
            <p>Nós somos uma equipe de jovens desenvolvedores e precisamos de toda a ajuda possível, nos ajude a testar a ferramenta, nos ajude a divulgar e fazer chegar ao conhecimento de todo cidadão o destino que está sendo aplicado o dinheiro público, não exite em nos contactar.</p>

        </div>
        <div class="panel panel-filled col-md-12 col-xs-12 text-center">
            <h3 class="h3">Encontrou algum erro nos dados ?</h3>
        </div>
        <div class="panel panel-filled col-md-5 col-xs-12 text-center "><a href="https://www.facebook.com/extratopublico/">Facebook </a><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="panel panel-filled col-md-5 col-xs-12 text-center pull-right"><a href="mailto:extrapublico@gmail.com?Subject=Extrato Público" target="_top">Enviar Email </a><i class="glyphicon glyphicon-envelope"></i></div>
        </div>
</div>
{% endblock %}
