{% extends "website/base.html" %}\\\\\\\\\a\a\//2///////2///2/22///222/2/2///22/22/2/2//2//2222/22/222/2222222222/22/222////////

{% block title_page %} Extrato Público - Débitos de Vereadores {% endblock %}
{% block title_header %}Débitos de Vereadores do múnicípio de São Paulo{% endblock %}
{% block subtitle_header %}Estes valores são relativos aos reembolsos efetivados aos vereadores do munícipio de São Paulo.{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-title">
                        <h3 class="m-b-xs">Débitos de Vereadores do múnicípio de São Paulo</h3>
                        <small>
                            Estes valores são relativos aos reembolsos efetivados aos vereadores do munícipio de São Paulo.
                        </small>
                    </div>
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>Dados Públicos<br>Use Nossa<br> <span class="c-white"><a href="#">API</a></span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                    </div>

                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <h2 class="m-b-none" style="text-align:center;">
                            Controle os gastos dos vereadores de sua cidade.
                        </h2><br />
                        <p style="text-align:center;">
                            Cada vereador dispõe também de uma verba anual de até R$ 282.037,56
                            (média mensal de R$ 23.503,13) destinado ao custeio de serviços gráficos,
                            correios, assinaturas de jornais, deslocamentos por toda a cidade e materiais de escritório,
                            entre outras despesas
                        </p>

                        <div class="slight m-t-sm" style="text-align:right"> <span class="c-white"><a href="about.html">Saiba mais sobre as verbas de cada vereador</a></span> </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">

        <div class="col-lg-4 col-xs-12">
            <div class="panel panel-filled">

                <div class="panel-body">
                    <h2 class="m-b-none">
                        R$ 15.512.065,80
                    </h2>
                    <div class="small">Valor Total dos 55 Gabinetes</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Ano Base: <span class="c-white">2017</span>  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="panel panel-filled">

                <div class="panel-body">
                    <h2 class="m-b-none">
                        R$ 282.037,56
                    </h2>
                    <div class="small">Valor Individual por Vereador</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Ano Base: <span class="c-white">2017</span>  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="panel panel-filled">
                <div class="panel-body">
                    <h2 class="m-b-none">
                        R$ 23.503,13
                    </h2>
                    <div class="small">Media Mensal Individual</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Ano Base: <span class="c-white">2017</span> </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-filled">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                           <canvas id="barChart" class="col-xs-12 col-lg-12" style="height: 500px"></canvas>
                            <div class="small text-center">All active users from last month.</div>
                            <div class="panel-body">
                                <p>Cada vereador dispõe também de uma verba anual de até R$ 282.037,56 (média mensal de R$ 23.503,13) destinado ao custeio de serviços gráficos, correios, assinaturas de jornais, deslocamentos por toda a cidade e materiais de escritório, entre outras despesas</p>
                                <div class="slight m-t-sm" style="text-align:right"> <span class="c-white"><a href="about.html">Saiba mais sobre as verbas de cada vereador</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="panel panel-filled text-center">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">

                            <div id="treemapChart" style="height: 500px;" class="col-md-6 col-xs-11"></div>
                            <div class="col-md-6 col-xs-11" style="width:50%; height: 500px">
                                <canvas id="horizontalBarChart" style="height: 100%; width: 100%"></canvas>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <p style="text-align:center;">Cada vereador dispõe também de uma verba anual de até R$ 282.037,56 (média mensal de R$ 23.503,13) destinado ao custeio de serviços gráficos, correios, assinaturas de jornais, deslocamentos por toda a cidade e materiais de escritório, entre outras despesas</p>
                                <div class="slight m-t-sm" style="text-align:right"> <span class="c-white"><a href="about.html">Saiba mais sobre as verbas de cada vereador</a></span> </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <p style="text-align:center;">Cada vereador dispõe também de uma verba anual de até R$ 282.037,56 (média mensal de R$ 23.503,13) destinado ao custeio de serviços gráficos, correios, assinaturas de jornais, deslocamentos por toda a cidade e materiais de escritório, entre outras despesas</p>
                                <div class="slight m-t-sm" style="text-align:right"> <span class="c-white"><a href="about.html">Saiba mais sobre as verbas de cada vereador</a></span> </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div id="table_div"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>

    </div>
    </div>
    </div>
{% endblock %}
